export(genomeCompart)
export(buildGRNoReading)
export(buildGR)
export(filterChromAndStrand)
export(checkParams)
export(buildIntervalsObject)
export(tryUseMart)
export(tryGetBM)
export(createfolder)
export(retrieveconversiontab)
exportMethods("annoCuration")
exportMethods("overlapOnGenes")
exportMethods("bivalentPromoters")
exportMethods("enhancer")
exportMethods("polycombsDomains")
exportMethods("matrixForUpset")
exportMethods("upsetDiagram")
exportMethods("boxplotGlcnacLevels")
exportMethods("outputGlcPeaksCoordPerCompartment")
exportMethods("retrieveGlcPeakVal")
exportMethods("complexUpsetDiagram")
exportMethods("extractCompCoordWithPeak")
exportMethods("violinplotExpression")
exportMethods("setHeterochromatin<-")
exportMethods("setSINE<-")
exportMethods("setLINE<-")
exportMethods("setLTR<-")
import(IRanges)
import(GenomicRanges)
import(GenomeInfoDb)
import(ggplot2)
import(ComplexUpset)
import(rtracklayer)
importFrom(tools, file_ext)
importFrom(tibble, tibble)
importFrom(ggupset, scale_x_upset)
importFrom(parallel, mclapply)
importFrom(S4Vectors, subjectHits)
importFrom(S4Vectors, queryHits)
importFrom(ggplot2, aes_)
importFrom(chipenrich, peaks2genes)
importFrom(biomaRt, useMart)
importFrom(biomaRt, useEnsembl)
importFrom(biomaRt, getBM)
